<h1>THE BURGER MACHINE</h1>

<h2>KEEP A LIST OF BURGERS YOU'VE EATEN AND WANT TO EAT!</h2>


<div class="topbutton">
<form class="create-form">
<center>
  <div class="form-group">

    <input type="text" id="ca" name="name" placeholder="Add a burger!"
  </div>

  <button type="submit" name="addburg" class="btn btn-secondary btn-sm" >Add </button><BR><BR>
</form>
</center>
</div>
<div class="row">

    <div class="col-md-5">
       <div class="nom">
        <h2>BURGERS TO NOM</h2>
        <ul>
            {{#each burgers}} {{#unless devoured}} {{> burgers/burger-block devour=true}} {{/unless}} {{/each}}
            <li>

        </ul>
</div>

    </div>
    
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <div class="nommed">
        <h2>BURGERS NOMMED</h2>
        <ul>
          <li>
            {{#each burgers}} {{#if devoured}}
            <div class="eat-burger">
                <span class="label">#{{this.id}}</span>
                <span class="label">{{this.burger_name}}</span>
            </div>
            {{/if}} {{/each}}
            </li>
        </ul>
    </div>
    <div class="col-md-1"></div>
</div>
</div>



