

li {
    width:80%;
    margin: 5px;
    background:white ;
    list-style: none;
    border: solid 4px black;
    font-family: 'Shadows Into Light', cursive;
  }
  
  .label {
    font-weight: bold;
    font-family: 'Shadows Into Light', cursive;
  }
  
.burgerlist{
  text-align: center;
  color:black;
  font-size:26px;
  width:80%;
  font-family: 'Shadows Into Light', cursive;
}  


h2{
  color:red;
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
}

h1{
  text-decoration: underline;
  font-family: 'Shadows Into Light', cursive;
  font-size:24px;
  text-align: center;

}
.button{
  background-color: black;
font-family: 'Shadows Into Light', cursive;
}
.nom{
  box-shadow: 5px 10px;
  border: solid 4px black;
margin-left:50%;
  background-color:#fbec5d;
  font-family: 'Shadows Into Light', cursive;
  width: 60%;
  height:600px;
  overflow:scroll;
}
.nommed{
  box-shadow: 5px 10px;
  border: solid 4px black;
  text-align: center;
  font-size:24px;
  margin-right:50%;
  background-color:#fbec5d;
  font-family: 'Shadows Into Light', cursive;
  height:600px;
  width: 60%;
  overflow:scroll;
}

.topbutton{
  font-size:24px;
  font-family: 'Shadows Into Light', cursive;
}