<center>
<div class="burgerlist">

<li>
<div class="eat-burger">
    <span class="label">{{burger_name}}</span><BR>
    <button data-newdevour="{{devour}}" class="btn btn-outline-danger">OFFICIALLY NOMED</button>
</div></li></div></center>