<center>
<div class="burgerlist">

<li>
<div class="eat-burger">
    <span class="label">{{burger_name}}</span><BR>
    <button data-newdevour="{{devour}}"  class="atebtn btn btn-secondary btn-sm">ATE IT!</button>
</div></li></div></center>